.App h3 {
  display: inline-block;
  margin-right: 6px;
  margin-top: 10px;
}

.note-buttons {
  float: left;
  margin-top: 12px
}

.note-buttons button {
  width: 24px;
  display: block;
}

.note-button {
  display: flex
}

.note-button:not(:hover) button:not(:first-child) {
  visibility: hidden;
}

#alternative-fingerings button {
  vertical-align: top;
  margin-top: 68px;
  margin-left: 10px;
}
