.App h3 {
  display: inline-block;
  margin-right: 6px;
  margin-top: 10px;
}

.note-buttons {
  display: inline-block;
}

.note-buttons button {
  width: 24px;
}

.note-button {
  display: flex
}

.note-button:not(:hover) button:not(:first-child) {
  visibility: hidden;
}
