.App h3 {
  display: inline-block;
  margin-right: 6px;
  margin-top: 10px;
}

.note-buttons {
  display: inline-block;
  margin-top: 2px;
  margin-left: 9px;
  vertical-align: top;
}

.note-buttons button {
  width: 28px;
  display: block;
  border-radius: 12px;
  margin-top: 1px;
  margin-right: 1px;
}

.note-button {
  display: flex
}

.note-button:not(:hover) button:not(:first-child) {
  visibility: hidden;
}

#alternative-fingerings button {
  vertical-align: top;
  margin-top: 68px;
  margin-left: 10px;
}

.plus-button {
  display: inline-block;
  vertical-align: top;
  margin-top: 114px;
  margin-left: -40px;
}
.plus-button a {
  font-size: 1.3em;
  color: initial;
}
.plus-button a:hover {
  color: initial;
}
.plus-button a:focus {
  color: initial;
}
