body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* SVG styling */
svg path {
  fill: white;
  stroke: black;
  stroke-width: 3;
}
svg:not(.readonly) path {
  cursor: pointer;
}

svg path.closed {
  fill: black
}

svg:not(.readonly) path:hover:not(.closed) {
  fill: lightgray
}

.alternate-fingering {
  height: 200px;
  display: inline-block;
}
