body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

path {
  fill: white;
  stroke: black;
  stroke-width: 2;
}

.closed {
  fill: black
}
.closed:hover {
  fill: black
}

path:hover {
  fill: lightgray
}

.alternate-fingering {
  height: 200px;
  display: inline-block;
}
