body {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
  font-family: sans-serif;
}

/* SVG styling */

svg path {
  fill: white;
  stroke: black;
  stroke-width: 3;
}
svg:not(.readonly) path {
  cursor: pointer;
}

svg path.closed {
  fill: black
}

svg:not(.readonly) path:hover:not(.closed) {
  fill: lightgray
}

.diff-added {
  stroke: lime;
  stroke-width: 5;
}

.diff-removed {
  stroke: red;
  stroke-width: 5;
}

/* Octave rollers*/

g#octave.hide-rollers path {
  fill: transparent;
  stroke: transparent;
}

svg:not(.readonly) g#octave.hide-rollers:hover path {
  stroke: darkgray;
}

svg:not(.readonly) g#octave.hide-rollers:hover path.closed {
  fill: black;
}
